@import "tailwindcss";

@theme {
  --color-brand-neutral-50: #fafafa;
  --color-brand-neutral-100: #f4f4f5;
  --color-brand-neutral-200: #e4e4e7;
  --color-brand-neutral-300: #d4d4d8;
  --color-brand-neutral-400: #a1a1aa;
  --color-brand-neutral-500: #71717a;
  --color-brand-neutral-600: #52525b;
  --color-brand-neutral-700: #3f3f46;
  --color-brand-neutral-800: #27272a;
  --color-brand-neutral-900: #18181b;
  
  --font-outfit: "Outfit", sans-serif;
}

:root {
  --background: #ffffff;
  --foreground: #09090b;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-outfit);
}

.glass {
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(254, 205, 211, 0.5);
}
